---
const { info } = Astro.props
---

<div class="hidden sm:block absolute left-4 bottom-4 px-8 py-1 rounded-lg">
  <h1 class="font-bold mt-4 animate-fade-in-up">
    <a
      class="text-xs items-center flex gap-2 hover:scale-110 transition"
      href="/"
    >
      <div class="flex flex-col text-center leading-none">
        <span
          class="tracking-tighter text-4xl px-1 bg-clip-text inline-block text-transparent bg-gradient-to-r from-slate-400 to-slate-600"
          >100</span
        >
        <span class="tracking-tighter text-slate-800 text-[14px]"
          >proyectos</span
        >
      </div>

      <span class="rotate-6">
        <svg
          class="rounded"
          width="52"
          height="52"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 630 630"
        >
          <rect width="630" height="630" fill="#f7df1e"></rect>
          <path
            d="m423.2 492.19c12.69 20.72 29.2 35.95 58.4 35.95 24.53 0 40.2-12.26 40.2-29.2 0-20.3-16.1-27.49-43.1-39.3l-14.8-6.35c-42.72-18.2-71.1-41-71.1-89.2 0-44.4 33.83-78.2 86.7-78.2 37.64 0 64.7 13.1 84.2 47.4l-46.1 29.6c-10.15-18.2-21.1-25.37-38.1-25.37-17.34 0-28.33 11-28.33 25.37 0 17.76 11 24.95 36.4 35.95l14.8 6.34c50.3 21.57 78.7 43.56 78.7 93 0 53.3-41.87 82.5-98.1 82.5-54.98 0-90.5-26.2-107.88-60.54zm-209.13 5.13c9.3 16.5 17.76 30.45 38.1 30.45 19.45 0 31.72-7.61 31.72-37.2v-201.3h59.2v202.1c0 61.3-35.94 89.2-88.4 89.2-47.4 0-74.85-24.53-88.81-54.075z"
          ></path>
        </svg>
      </span>
    </a>
  </h1>
  <h2
    class="font-semibold animate-fade-in animate-delay-300 mt-2 text-base text-center tracking-tighter text-yellow-800"
  >
    #{info.number} - {info.title}
  </h2>
  <a class="text-xs animate-fade-in animate-delay-800 hover:underline" href="/">
    ← Volver a los proyectos
  </a>
  <ul class="flex flex-wrap flex-col-reverse gap-2 mt-4">
    <li>
      <a
        href={`https://github.com/midudev/javascript-100-proyectos/tree/main/${info.slug}`}
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center justify-center w-full px-3 py-2 text-xs font-semibold text-center text-black bg-white transition border border-black/60 rounded-lg hover:bg-black/10 md:text-sm"
      >
        <svg
          class="w-5 h-5 mr-1"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
            clip-rule="evenodd"
          />
        </svg>
        Código
      </a>
    </li>
    <li>
      <a
        href={`/${info.slug}`}
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex items-center justify-center w-full px-3 py-2 text-xs font-semibold text-center text-sky-700 bg-white transition border border-sky-700/60 rounded-lg hover:bg-sky-600/20 md:text-sm"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5 mr-1"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418"
          />
        </svg>
        Demo
      </a>
    </li>
    {info.youtube != null && (
      <li>
        <a
          href={info.youtube}
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center justify-center w-full px-3 py-2 text-xs font-semibold text-center text-red-700 bg-white transition border border-red-700/60 rounded-lg hover:bg-red-600/20 md:text-sm"
        >
          <svg
            class="w-5 h-5 mr-1"
            viewBox="0 0 256 180"
            width="256"
            height="180"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid"
          >
            <path
              d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134Z"
              fill="red"
            />
            <path
              fill="#FFF"
              d="m102.421 128.06 66.328-38.418-66.328-38.418z"
            />
          </svg>
          Vídeo
        </a>
      </li>
    )}
    {info.twitch != null && (
      <li>
        <a
          href={info.twitch}
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center justify-center w-full px-3 py-2 text-xs font-semibold text-center text-[#874af6] transition bg-white rounded-lg hover:bg-[#d1b9ff] md:text-sm border border-[#874af6]"
        >
          <svg
            class="w-5 h-5 mr-1"
            xmlns="http://www.w3.org/2000/svg"
            width="256"
            height="180"
            viewBox="0 0 118 138"
          >
            <g fill="none" fill-rule="evenodd">
              <path
                fill="#FFF"
                d="m107.8058 63.7036-19.602 19.601h-19.6l-17.152 17.151v-17.151h-22.05V9.8006h78.404z"
              />
              <path
                fill="#9146FF"
                d="M117.605 0v68.605l-44.102 44.099H53.904l-24.503 24.503v-24.503H0V24.502L24.5 0h93.105Zm-9.8 9.801H29.401v73.503h22.051v17.15l17.153-17.15h19.601l19.599-19.601V9.801ZM93.1042 26.9518v29.4h-9.8v-29.4h9.8Zm-26.951 0v29.4h-9.8v-29.4h9.8Z"
              />
            </g>
          </svg>
          Twitch
        </a>
      </li>
    )}
  </ul>
</div>
