---
import { PROJECTS } from "../consts";
import { TypeLink } from "./common/Constantes";
import Link from "./common/Link.astro";

const finalProjects = PROJECTS.filter((project) => !project.hidden)
  .slice()
  .reverse();
---

<div
  class="grid gap-8 mb-6 lg:mb-16 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto"
>
  <article
    class="min-h-60 relative items-center text-black rounded-lg bg-purple-50"
  >
    <a
      href="https://twitch.tv/midudev"
      target="_blank"
      rel="noopener noreferrer"
      class="group hover:scale-110 transition flex justify-center flex-col h-full items-center font-semibold text-purple-700 text-center text-xl"
    >
      <svg
        class="w-16 h-16 mb-2"
        xmlns="http://www.w3.org/2000/svg"
        width="118"
        height="138"
        viewBox="0 0 118 138"
        ><g fill="none" fill-rule="evenodd"
          ><path
            fill="#FFF"
            d="m107.8058 63.7036-19.602 19.601h-19.6l-17.152 17.151v-17.151h-22.05V9.8006h78.404z"
          ></path><path
            fill="#9146FF"
            d="M117.605 0v68.605l-44.102 44.099H53.904l-24.503 24.503v-24.503H0V24.502L24.5 0h93.105Zm-9.8 9.801H29.401v73.503h22.051v17.15l17.153-17.15h19.601l19.599-19.601V9.801ZM93.1042 26.9518v29.4h-9.8v-29.4h9.8Zm-26.951 0v29.4h-9.8v-29.4h9.8Z"
          ></path></g
        ></svg
      >
      Próximamente en Twitch<br />
      siguiente proyecto...
    </a>
  </article>
  {
    finalProjects.map((project, reversedIndex) => {
      const index = finalProjects.length - reversedIndex - 1;
      const num = `${index + 1}`.padStart(2, "0");

      return (
        <article class="relative items-center text-black rounded-lg">
          <a
            href={`/${project.slug}`}
            class="group hover:scale-110 block transition"
          >
            <span class="group-hover:scale-[2] transition-all group-hover:top-4 group-hover:left-6 opacity-70 group-hover:opacity-100 absolute top-2 left-2 -rotate-12 text-2xl font-bold">
              #{num}
            </span>
            <img
              class="w-full rounded-lg overflow-hidden object-cover aspect-video"
              src={`./projects/${num}.webp`}
              alt={`Captura de pantalla del proyecto ${project.title}`}
            />
          </a>
          <div class="p-5">
            <h2 class="text-4xl font-bold tracking-tight text-gray-900">
              <a
                href={`/${project.slug}`}
                class="hover:text-sky-500 transition"
              >
                {project.title}
              </a>
            </h2>
            <p class="mt-3 mb-4 font-light text-gray-800">
              {project.description}
            </p>
            <ul class="inline-flex flex-wrap gap-2">
              {project.learnings.map((learning) => (
                <li class="text-xs font-light text-gray-600 bg-gray-100 px-2 py-1 rounded-full">
                  {learning}
                </li>
              ))}
            </ul>
            <ul class="flex flex-wrap gap-2 mt-4">
              <li>
                <Link
                  title="Código"
                  typeLink={TypeLink.Github}
                  url={`https://github.com/midudev/javascript-100-proyectos/tree/main/${project.slug}`}
                />
              </li>
              <li>
                <Link
                  title="Demo"
                  typeLink={TypeLink.Web}
                  url={`/${project.slug}`}
                />
              </li>
              {project.youtube != null && (
                <li>
                  <Link
                    title="Vídeo"
                    typeLink={TypeLink.Youtube}
                    url={project.youtube}
                  />
                </li>
              )}
            </ul>
          </div>
        </article>
      );
    })
  }
</div>
